.app {
  display: grid;
}

.dayWeek {
  border: 1px solid black;
  text-align: center;
}

.month {
  border: 1px solid black;
}

.week {
  border: 1px solid black;
}

.dayCell {
  border: 1px solid black;
  width: 200px;
  height: 150px;
  vertical-align: top;
}

.daynum {
}
#classInput {
  font-family: "Calibri";
  resize: none;
}
#invalidDatesInput {
  font-family: "Calibri";
  resize: none;
}
#startDate {
  font-family: "Calibri";
  flex: 0 0 1;
}
#createCalendar {
  max-height: 10%;
  height: 10%;
}
.input {
}
